.ModalWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-white);
    background: var(--color-black);
    padding: 2.5rem;
    padding-bottom: 3.2rem;
    transform: translate(-50%, -100vh);
    transition: all 0.3s ease;
    z-index: 50;

    &.Show {
        transform: translate(-50%, -50%);
    }
}
