.Button {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    color: inherit;
    border: none;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0.5rem 1.8rem;
    border-radius: 0 1rem 1rem 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;

    &:hover {
        background: rgba(0, 0, 0, 0.2);
    }
}
