@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
    --color-white: #ececec;
    --color-black: #2d2d2d;

    --input-color-bg: #eee;
    --input-color-fg: #3d3d3d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #bbd2c5 10%, #536976 80%);
    min-height: 100vh;
    font-weight: 300;
    font-size: 1.6rem;
}

@media screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}

@media screen and (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}
